<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Message Board</title>
</head>
<body>
    <div class="container">
        <h2>The Dojo Message Board</h2>
        <form action="/message" method="POST">
            <label for="name">Name: <input type="text" name="messageName"></label><br>
            <label for="message">Message: <input type="text" name="message"></label><br>
            <input type="submit" value="Post message"><br>
        </form>
        <% for(var x in data) { %>
        <div class="messageContainer">
            <h2>Name: <%= data[x].name %></h2>
            <h3>Message: <%= data[x].message %></h3>
        </div>
        <% for(var i of data[x].comments) { %>
            <p>Name: <%= i.name %></p>
            <p>Comment: <%= i.comment %></p>
        <% } %>
        <div class="commentContainer">
            <form action="/comment/<%= data[x]._id %>" method="POST">
                <label for="name">Name: <input type="text" name="name"></label><br>
                <label for="comment">Comment: <input type="text" name="comment"></label><br>
                <input type="submit" value="Post comment"><br>
            </form>
        </div>
        <% } %>
    </div>
</body>
</html>